version: "3.9"

services:
  web:
    build: .
    container_name: movie_api_web
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    restart: always
    env_file:
      - .env

  db:
    image: postgres:15
    platform: linux/amd64
    container_name: postgres_db
    volumes:
      - postgres_db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

  redis:
    image: redis
    ports:
      - "6379:6379"
  redis-commander:
    image: rediscommander/redis-commander
    ports:
      - "8081:8081"
    environment:
      - REDIS_HOSTS=local:redis:6379

  celery_worker:
    build: .
    container_name: celery_worker
    command: celery -A movie_api worker -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
      - web
    restart: always

  celery_beat:
    build: .
    container_name: celery_beat
    command: celery -A movie_api beat -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
      - web
    restart: always

volumes:
  postgres_db:
